<style>
  table, th, td {
    border:1px solid black;
    text-align: center;
  };
  </style>
<h2 style="text-align: center;" class="text-primary">Welcome To Chirpus Pizza!</h2>

  <table class=" table-striped table-hover" style="width:100%">
    <thead class="table-success">
    <tr>
      <th>Item</th>
      <th>Category</th>
      <th>Price</th>
    </tr>
  </thead>
    <tbody>
    <tr *ngFor = "let m of menuItems, index as i"> 
      <td>{{ m.item }}</td>
      <td>{{ m.category }}</td>
      <td>${{ m.price }}</td>
      </tr>
    </tbody>
  </table>


